.btn_confirm
{
    background-color: rgb(172,216,231) !important;
    color:rgb(72, 116, 141);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn_confirm:hover
{
    background-color: rgb(173, 211, 223);
    color:white;
    filter: brightness(1.07);
}

.product-card
{
    background-color: rgba(255, 255, 255, 0.774);
}